<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V19</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	<script src="https://unpkg.com/@cruxpay/js-sdk@0.1.4/dist/cruxpay-sdk-dom.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--======================== Vendor Styles ===================================================-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
	<!--========================= Author Styles ========================================================-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--========================= Inpage Styles ========================================================-->
	<style type="text/css">
		:root {
			--mdc-theme-primary: #2948ff;
			--mdc-theme-secondary: #2948ff;
		}

		.idDisplay {
			display: block;
			font-size: 21px;
			color: #555555;
			line-height: 1.2;
			text-align: center;
		}
	</style>

</head>

<body>
	<div id="appBase">
		<div class="app__header">
			<div class="header-main">
				<i class="material-icons header-icon">
					settings
				</i>
				<div>
					<div class="header-heading">CRUXPay Setup</div>
					<div class="header-subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
				</div>
			</div>
		</div>
		<div class="app-setup">
			<div class="setup-card">
				<div id="existingIDSetup" v-if="cruxIDSubdomain">
					<div class="setup-header">
						<i class="material-icons setup-header__icon">
							person
						</i>
						<div>
							<div class="setup-header__heading">Your CRUXPay ID</div>
							<div class="setup-header__body">{{cruxIDSubdomain}}@{{walletClientName}}.crux</div>
						</div>
					</div>
					<div class="public-list">
						<div class="public-list__heading">
							Public Currencies
						</div>
						<ul id="availableCurrencyList" class="currency-list">
							<li v-for="(address, cur)  in availableCurrencies">
								<div class="mdc-form-field">
									<div class="mdc-checkbox">
										<input type="checkbox" class="mdc-checkbox__native-control" :id="cur"
											:value="cur" v-model="checkedCurrencies" />
										<div class="mdc-checkbox__background">
											<svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
												<path class="mdc-checkbox__checkmark-path" fill="none"
													d="M1.73,12.91 8.1,19.28 22.79,4.59" />
											</svg>
											<div class="mdc-checkbox__mixedmark"></div>
										</div>
										<div class="mdc-checkbox__ripple"></div>
									</div>
									<label :for="cur"><strong>{{cur}}:</strong> <span
											class="is-type-address">{{address}}</span></label>
								</div>
							</li>
						</ul>
					</div>
					<div class="setup-footer">
						<button class="mdc-button mdc-button--raised" v-on:click="backToWallet"
							:disabled="showButtonLoader">
							<span class="mdc-button__ripple"></span>
							<img v-if="showButtonLoader" src="images/ajax-loader.gif" alt=""
								style="height:20px; padding-right:20px;">
							Update
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">

		var currentInput = {
			cruxIDSubdomain: 'amit',
			availableCurrencies: {
				'BTC': '3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy',
				'ETH': '0xd12Cd8A37F074e7eAFae618C986Ff825666198bd',
				'TRX': 'TH5hDeF7z8o71jRpSQtQCevizMDm43hvCk',
				'EOS': 'vuniyuoxoeub'
			},
			publicAddressCurrencies: ['BTC', 'EOS'],
			walletClientName: 'exodus'
		};

		window.addEventListener('message', function (event) {
			console.log('event message received');
			console.log(event);
			if (event.data === '') {
				return;
			}
			let data = { type: '' };
			data = JSON.parse(event.data);
			if (data.type === 'close') {
				console.log("Close message received")
				// window.close();
			} else if (data.type === 'register') {
				currentInput = data;
				console.log("Register message received")
				initVue();
			}
		}, false);

		let notify = function (experience, message) {
			if (experience === 'react-native') {
				window.ReactNativeWebView.postMessage(message);
			} else if (experience === 'iframe') {
				window.parent.postMessage(message, '*');
			} else {
				window.opener.postMessage(message, '*');
			}
		}

		let initVue = function () {
			let cruxClientOptions = {
				getEncryptionKey: () => 'foo',
				walletClientName: currentInput.walletClientName,
				privateKey: "KxNUxNfsvkWCriYGnaQhqtSp9KWMfjF2xZuAHs7hbc239ZfZT6zT"
			}
			let cruxClient = new window.CruxPay.CruxClient(cruxClientOptions);

			new Vue({
				el: '#appBase',
				data: function () {
					return {
						...currentInput,
						checkedCurrencies: [],
						showButtonLoader: false
					}
				},
				mounted() {
					console.log("== Mounted setup page ==")
					console.log(currentInput);
					this.checkedCurrencies = [...this.publicAddressCurrencies];
				},
				methods: {
					createNewID: function () {
						this.showButtonLoader = true;
						let registerMessage = {
							type: 'createNew',
							data: {
								newCruxIDSubdomain: this.cruxIDSubdomain
							}
						};
						notify(currentInput.experience, JSON.stringify(registerMessage));
					},
					backToWallet: function () {
						console.log('===back to wallet==');
						this.showButtonLoader = true;
						console.log(this.checkedCurrencies);
						let newAddressMap = {};
						this.checkedCurrencies.forEach((cur) => {
							newAddressMap[cur] = this.availableCurrencies[cur];
						})
						let existingMessange = {
							type: 'editExisting',
							data: {
								newAddressMap: newAddressMap
							}
						};
						notify(currentInput.experience, JSON.stringify(existingMessange));
					}
				}
			})
		}
		initVue();
	</script>
	<script src="js/main.js"></script>
</body>

</html>