@import "normalize";
@import "variables";
$card-height: 500px;

.cs-hide {
    display: none !important;
}

.setup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .mdc-card {
        width: 65%;
        max-width: 900px;
        height: auto;
        min-height: $card-height;
        position: relative;

        @media only screen and (max-width: 992px) {
            width: 90%;
        }

        @media only screen and (max-width: 768px) {
            width: 100%;
            margin: 16px 8px;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        margin-top: auto;

        .mdc-button {
            margin-left: auto;
        }

        &--mobile {
            display: none;

            @media only screen and (max-width: 768px) {
                display: flex;
                margin-top: 32px;
            }
        }
    }
}

.setup-card {
    display: flex;

    &__form {
        width: 60%;
        height: auto;
        min-height: $card-height;
        padding: 32px;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        form {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
        }

        .text-field-container {
            width: 100%;
            margin-top: 32px;
        }

        .mdc-text-field-helper-line {
            padding: 0px;
        }

        .mdc-text-field {
            width: 100%;
            height: 40px;

            .mdc-text-field__input {
                font-size: 14px;
                padding: 7px 11px;
                padding-right: 40px;
            }

            .mdc-floating-label {
                font-size: 14px;
                top: 18px;
            }

            .mdc-floating-label--float-above {
                transform: translateY(-150%) scale(0.75) !important;
            }

            .id-status {
                position: absolute;
                right: 0;
                margin: 11px 12px;
                font-size: 12px;
                color: $dark;
                font-weight: 600;
            }

            #cruxpayId {
                padding-right: 100px;
            }
        }

        .validation-rules {
            margin-top: 12px;
            opacity: 1;

            .rule {
                display: flex;
                align-items: center;
                margin-top: 8px;

                .material-icons {
                    font-size: 16px;
                    margin-right: 12px;
                }

                span {
                    font-weight: 400;
                    font-size: 12px;
                }
            }

            .rule-isValid {
                .icon-invalid {
                    display: none;
                }

                .icon-valid {
                    display: block;
                }

                .material-icons {
                    color: $success;
                }

                span {
                    color: $success;
                }
            }

            .rule-isInvalid {
                .icon-invalid {
                    display: block;
                }

                .icon-valid {
                    display: none;
                }

                .material-icons {
                    color: $error;
                }

                span {
                    color: $error;
                }
            }

            &--cruxid {
                margin-top: 32px;

                .rule {
                    font-size: 14px;

                    .material-icons,
                    strong {
                        color: #333648;
                    }

                    color: #636e72;

                    span {
                        font-size: 12px;
                    }
                }
            }
        }

        .helper-text--success {
            color: $brand !important;
        }
    }

    &__description {
        width: 40%;
        height: auto;
        min-height: $card-height;
        padding: 32px;
        display: flex;
        flex-direction: column;

        img {
            display: block;
            margin: auto;
        }

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    &__brand {
        color: $dark;
        font-weight: 700;
        font-size: 24px;
    }

    &__headline {
        color: $dark;
        font-weight: 400;
        font-size: 24px;
        padding-top: 16px;
        text-align: left;
    }

    &__body {
        color: $dark;
        font-weight: 400;
        font-size: 16px;
        margin-top: 8px;
    }
}

.setup-close_button {
    --mdc-ripple-fg-size: 28px;
    --mdc-ripple-fg-scale: 1.71429;
    --mdc-ripple-left: 10px;
    --mdc-ripple-top: 10px;
    position: absolute;
    right: 0;
    font-size: 20px;
    color: #666666;
}

.customisation {
    display: flex;

    &__selection {
        width: 50%;
        height: auto;
        min-height: $card-height;
        padding: 32px 32px 8px 32px;
        border-right: 1px solid darken($color: #f3f5f8, $amount: 5%);
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 768px) {
            width: 100%;
            padding: 32px 16px;
        }
    }

    &__description {
        width: 50%;
        height: auto;
        min-height: $card-height;
        padding: 32px;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    &__brand {
        color: $dark;
        font-weight: 700;
        font-size: 24px;
    }

    &__headline {
        color: $dark;
        font-weight: 400;
        font-size: 18px;
        margin-top: 8px;
    }

    &__search {
        margin: 24px 0px;

        .mdc-text-field {
            width: 100%;
            height: 40px;

            .mdc-text-field__input {
                font-size: 14px;
                padding: 7px 11px;
                padding-right: 40px;
            }

            .mdc-floating-label {
                font-size: 14px;
                top: 18px;
            }

            .mdc-floating-label--float-above {
                transform: translateY(-150%) scale(0.75) !important;
            }

            .mdc-text-field__icon {
                top: 20px;
                right: 16px;
                font-size: 18px;
                color: #8a8a8a;
            }
        }
    }

    &__currency {
        width: 99%;
        min-height: 45px;
        display: flex;
        align-items: center;
        border: 1px solid #dadada;
        border-radius: 4px;
        margin: 16px 0px;
    }

    &__currency-list {
        height: 325px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &__currency-logo {
        width: 20px;
        height: 20px;
        margin-left: 16px;
    }

    &__currency-name {
        color: $dark;
        font-size: 16px;
        margin-left: 16px;
        margin-right: 16px;
        font-family: 'Open Sans', sans-serif;
    }

    &__currency-symbol {
        color: $dark;
        font-size: 16px;
        font-weight: 700;
        margin-left: auto;
        margin-right: 16px;
    }

    &__description-id {
        margin-bottom: 16px;
    }

    .description-heading {
        color: #8a8a8a;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.0625em;
    }

    .description-id {
        color: $dark;
        font-size: 20px;
        margin-top: -3px;
    }

    .customisation__description--mobile {
        display: none;

        @media only screen and (max-width: 768px) {
            display: block;
            margin-top: 24px;
        }
    }

    &__selected-currencies {
        margin-top: 32px;
    }

    &__selected-currencies-list {
        display: flex;
        flex-flow: row wrap;
    }

    .selected-currency__pill {
        min-width: 100px;
        height: 35px;
        border-radius: 1000px;
        background-color: #f3f5f8;
        color: $dark;
        display: flex;
        align-items: center;
        padding: 0px 8px;
        margin: 12px 12px 12px 0px;

        strong {
            margin-left: 16px;
            margin-right: auto;
            font-size: 14px;
        }

        .material-icons {
            font-size: 18px;
            cursor: pointer;
            margin-right: 3px;
        }
    }
}

.mdc-crux-action {
    font-weight: bold;

    .donut {
        width: 18px;
        height: 18px;
        margin-left: 8px;
        display: none;
    }

    &:disabled {
        .donut {
            display: block;
        }
    }
}

.brand-logo {
    width: 150px;
}

/*****************
*** Overrides ***
*****************/
.customisation__currency {
    .mdc-form-field {
        width: 100%;
        padding: 8px;
    }
}

.customisation__currency-logo {
    margin-left: 0px;
}

.customisation__checkbox-label {
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
    cursor: pointer;

    &--inner {
        display: flex;
        align-items: center;
        margin-left: 12px;
    }

    &--address {
        word-break: break-all;
        margin-top: 8px;
    }
}