@import "variables";
$card-height: 500px;

.setup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .mdc-card {
        width: 65%;
        max-width: 900px;
        height: auto;
        min-height: $card-height;
    }
}

.setup-card {
    display: flex;

    &__form {
        width: 80%;
        height: auto;
        min-height: $card-height;
        padding: 32px;

        form {
            margin-top: 16px;
        }

        .text-field-container {
            width: 80%;
            margin-top: 32px;
        }

        .mdc-text-field-helper-line {
            padding: 0px;
        }

        .mdc-text-field {
            width: 100%;
            height: 40px;

            .mdc-text-field__input {
                font-size: 14px;
                padding: 7px 11px;
            }

            .mdc-floating-label {
                font-size: 14px;
                top: 11px;
            }

            .mdc-floating-label--float-above {
                transform: translateY(-96%) scale(0.75) !important;
            }

            .id-status {
                position: absolute;
                right: 0;
                margin: 11px 12px;
                font-size: 12px;
                color: $dark;
                font-weight: 600;
            }

            #cruxpayId {
                padding-right: 100px;
            }
        }

        .validation-rules {
            margin-top: 12px;

            .rule {
                display: flex;
                align-items: center;
                margin-top: 8px;

                .material-icons {
                    font-size: 16px;
                    margin-right: 12px;
                }

                span {
                    font-weight: 400;
                    font-size: 12px;
                }
            }

            .rule-isValid {
                .icon-invalid {
                    display: none;
                }

                .icon-valid {
                    display: block;
                }

                .material-icons {
                    color: $success;
                }

                span {
                    color: $success;
                }
            }

            .rule-isInvalid {
                .icon-invalid {
                    display: block;
                }

                .icon-valid {
                    display: none;
                }

                .material-icons {
                    color: $error;
                }

                span {
                    color: $error;
                }
            }
        }

        .helper-text--success {
            color: $brand !important;
        }
    }

    &__description {
        width: 40%;
        height: auto;
        min-height: $card-height;
        padding: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__brand {
        color: $dark;
        font-weight: 700;
        font-size: 24px;
    }

    &__headline {
        color: $dark;
        font-weight: 400;
        font-size: 24px;
        padding-top: 16px;
        text-align: left;
    }

    &__body {
        color: $dark;
        font-weight: 400;
        font-size: 16px;
        margin-top: 8px;
    }
}